.email-input {
  border: none;
  padding: 12px;
  border-radius: 10px;
  width: 250px;
  outline: none;
  background: lightgrey;
}

.password-input {
  border: none;
  padding: 12px;
  border-radius: 10px;
  width: 250px;
  outline: none;
  background: lightgrey;
}

.submit-button {
  font-size: 18px;
  background: lightgrey;
  height: 40px;
  width: 280px;
  border-radius: 10px;
  border: none;
}

.submit-button:hover {
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  background-color: white;
}

.wrapper {
  padding: 90px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 750px;
  margin-left: 20%;
  margin-top: 5%;
}

.text {
  left: 670px;
  top: 50px;
  position: relative;
}
